<!doctype html>
<html>
    <head>
        <title>django-input-collection {% block title %}{% endblock title %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" media="screen">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        {% block script %}{% endblock script %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            
            {% endblock content %}
        </div>
    </body>
</html>
