{% extends "base.html" %}

{% block title %}Poll {{ object.pk }}{% endblock title %}

{% block content %}
    <h1>Poll {{ object.pk }}</h1>

    {# <div class="card"> #}
    {#     <div class="card-header">Raw collector info</div> #}
    {#     <div class="card-body"> #}
    {#         <code>{{ payload|pprint }}</code> #}
    {#     </div> #}
    {# </div> #}

    {% for instrument in payload.instruments %}
        <div class="card-group">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ instrument.text }}</h5>
                    {% if instrument.description %}
                        <div class="card-text text-muted">{{ instrument.description }}</div>
                    {% endif %}
                    {% if instrument.help %}
                        <div class="card-text">
                            <button class="btn btn-sm btn-outline-primary" data-toggle="button">
                                <a data-target=".instrument-{{ instrument.id }}-help" data-toggle="collapse">
                                    Show additional help
                                </a>
                            </button>
                            <div class="collapse instrument-{{ instrument.id }}-help">
                                {{ instrument.help }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                {# {% if user.is_staff %} #}
                    <div class="card-footer text-monospace">
                        [pk={{ instrument.id }},
                         {% if instrument.response_info.response_policy.multiple %}multiple={{ instrument.response_info.response_policy.multiple }},{% endif %}
                         {% if instrument.response_info.response_policy.restrict %}restrict={{ instrument.response_info.response_policy.restrict }},{% endif %}]
                    </div>
                {# {% endif %} #}
            </div>

            <div class="card mt-3 mb-3">
                {% if instrument.response_info.suggested_responses %}
                    <ul class="list-group list-group-flush btn-group-toggle" data-toggle="buttons">
                        {% for suggested_response in instrument.response_info.suggested_responses %}
                            <label class="btn btn-outline-primary list-group-item text-left">
                                <input name="instrument-{{ instrument.id }}"
                                       {% if instrument.response_info.response_policy.multiple %}
                                       type="checkbox"
                                       {% else %}
                                       type="radio"
                                       {% endif %}
                                       checked {# TODO: auto select when configured to do so #}
                                       >
                                {{ suggested_response.data }}
                            </label>
                        {% endfor %}
                        {% if not instrument.response_info.response_policy.restrict %}
                            <label class="btn btn-outline-primary list-group-item text-left">
                                {# TODO: allow addition of more unbounded custom inputs #}
                                <input name="instrument-{{ instrument.id }}"
                                       {% if instrument.response_info.response_policy.multiple %}
                                       type="checkbox"
                                       {% else %}
                                       type="radio"
                                       {% endif %}
                                       >
                                Other
                            </label>
                            <input class="form-control list-group-item"
                                   name="instrument-{{ instrument.id }}"
                                   type="text"
                                   placeholder="(Please specify)">
                        {% endif %}
                    </ul>
                {% else %}
                    <div class="card-body">
                        <div class="input-group mb-3">
                            {# <div class="input-group-prepend"> #}
                            {#     <span class="input-group-text">Number:</span> #}
                            {# </div> #}
                            <input class="form-control"
                                   name="instrument-{{ instrument.id }}"
                                   type="text"
                                   {# placeholder="Number" #}
                                   >
                            {# <div class="input-group-append"> #}
                            {#     <span class="input-group-text">MMbtu</span> #}
                            {# </div> #}
                        </div>
                    </div>
                {% endif %}
                <div class="card-footer text-monospace">
                    &nbsp;
                </div>
            </div>

        </div>
    {% endfor %}

{% endblock content %}
