{% extends "base.html" %}

{% load static %}

{% block title %}Poll {{ object.pk }}{% endblock title %}

{% block script %}
    <script src="{% static "input/data-api.js" %}"></script>
    <script>
        var polls = (function(){
            var specification = {{ payload_json|safe }};
            var collector = DjangoInputCollection(specification.meta.api);
            return {
                collector: collector,
                specification: specification,
                serialize: {
                    unknown: function(elements) {
                        var data = undefined;

                        var isSelectMultiple = elements.is('[multiple]');
                        var isCheckbox = elements.is('[type="checkbox"]');
                        if (isSelectMultiple || isCheckbox) {
                            elements = elements.filter(':checked');
                            if (elements.length > 0) {
                                return polls.serialize.multiple(elements);
                            } else {
                                return null;
                            }
                        }

                        var isRadio = elements.is('[type="radio"]');
                        if (isRadio) {
                            elements = elements.filter(':checked');
                        }

                        return polls.serialize.single(elements);
                    },
                    single: function(el) {
                        var deferredSource = el.attr('data-source');
                        if (deferredSource !== undefined) {
                            el = $(deferredSource);
                        }

                        var data = el.val();
                        if (el.is('[data-suggested]')) {
                            data = {
                                _suggested_response: data
                            }
                        }
                        return data;
                    },
                    multiple: function(elements) {
                        var data = [];
                        $.each(elements, function(i, el){
                            data.push(polls.serialize.single($(el)));
                        });
                        return data;
                    }
                },
                isEmpty: function(value) {
                    var emptyValues = new Set([undefined, null, '']);
                    return (emptyValues.has(value));
                },
                submit: function(instrumentId) {
                    var el = $('[name="instrument-' + instrumentId + '"]');
                    var data = polls.serialize.unknown(el);
                    if (polls.isEmpty(data)) {
                        console.log("[%s] Nothing to submit <%s:%s>", instrumentId, typeof(data), data);
                    } else {
                        console.log("[%s] Submitting: <%s:%s>", instrumentId, typeof(data), JSON.stringify(data));
                        collector.api.addInput({
                            instrument: instrumentId,
                            data: data
                        }, {}, polls.getCsrfToken());
                    }
                },
                getCsrfToken: function() {
                    return $('[name="csrfmiddlewaretoken"').val();
                }
            }
        })();
    </script>
{% endblock script %}

{% block content %}
    <h1>Poll {{ object.pk }}</h1>

    {# <div class="card"> #}
    {#     <div class="card-header">Raw collector info</div> #}
    {#     <div class="card-body"> #}
    {#         <code>{{ payload|pprint }}</code> #}
    {#     </div> #}
    {# </div> #}

    {% csrf_token %}

    {% for instrument in payload.instruments_info.all_ordered_instruments %}
        <div class="card-group">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ instrument.text }}</h5>
                    {% if instrument.description %}
                        <div class="card-text text-muted">{{ instrument.description }}</div>
                    {% endif %}
                    {% if instrument.help %}
                        <div class="card-text">
                            <button class="btn btn-sm btn-outline-primary" data-toggle="button">
                                <a data-target=".instrument-{{ instrument.id }}-help" data-toggle="collapse">
                                    Show additional help
                                </a>
                            </button>
                            <div class="collapse instrument-{{ instrument.id }}-help">
                                {{ instrument.help }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="card-footer text-monospace">
                    [{{ instrument.measure }},
                     pk={{ instrument.id }},
                     {% if instrument.response_info.response_policy.multiple %}multiple={{ instrument.response_info.response_policy.multiple }},{% endif %}
                     {% if instrument.response_info.response_policy.restrict %}restrict={{ instrument.response_info.response_policy.restrict }},{% endif %}

                    {# Simplified for single conditions #}
                    {% if instrument.conditions %}
                        {{ instrument.conditions.0.parent_instrument }}↑{{ instrument.conditions.0.condition_group.cases.0 }}
                    {% endif %}

                    {# hacking for equal size to the right-side card #}
                    <button class="btn btn-sm invisible">&nbsp;</button>
                </div>
            </div>

            <div class="card mt-3 mb-3">
                {% if instrument.response_info.suggested_responses %}
                    {{ instrument.response_info.widget.template }}
                {% else %}
                    <div class="card-body">
                        <div class="input-group mb-3">
                            {{ instrument.response_info.widget.template }}
                        </div>
                    </div>
                {% endif %}
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-primary btn-sm"
                                onclick="polls.submit({{ instrument.id }})">
                            Submit
                        </button>
                    </div>

                    <div class="text-monospace">
                        {{ instrument.response_info.widget }}
                        {% for input_info in instrument.collected_inputs %}
                            {{ input_info.data }},
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock content %}
