# Language
__pycache__
*.pyc

# Framework
node_modules

# Local
.env
.venv
.venv37
.pycharm
.vscode
*.vscode-workspace
.python-version
db.sqlite3
.DS_Store
.idea
.coverage
/django_input_collection.egg-info/
/.claude/settings.local.json
